#link {
    position: absolute;
    margin: 5px 0 0 -30px ;
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    height: 40px;
}

label, input {
    display: table-cell;
    padding-right: 30px;
}

.info {
    width: 100%;
    margin: 0 0 15px 0;
}

.push {
    width: 250px;
    margin: 20px auto;
}

.valid {
    border: thin solid green;
}
.no_valid {
    border: thin solid red;
}
#invalid {
    text-align: center;
    height: 21px;
    color: #CD5555;
}
input:focus {
    outline: none;
}

/*#link {
    position: absolute;
    margin: 5px 0 0 -30px ;
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    height: 40px;
}

#table {
    margin: auto;
}

#table td {
    padding-bottom: 15px;
}

#but {
    border: none;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    width: 250px;
    margin-top: 15px;
    margin-left: 170px;
    background-color: #FBE94F;
    font-weight: 700;
    font-family: "Noto Serif", sans-serif;
    color: #fff;
}
#but:hover {
    background-color: rgb(255, 255, 0);
}

#pro {
    border: none;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    width: 350px;
    margin-top: 10px;
    margin-left: 170px;
    background-color: #FBE94F;
    font-weight: 700;
    font-family: "Noto Serif", sans-serif;
    color: #fff;
}
#pro:hover {
    background-color: rgb(255, 255, 0);
}

.one {
    width: 230px;
    height: 20px;
    border-radius: 5px;
    border: thin solid lightgray;
    background-color: #fff;
}
.one:hover {
    background: rgb(248, 255, 255);
}

.valid {
    border: thin solid green;
}
.no_valid {
    border: thin solid red;
}
#invalid {
    text-align: center;
    height: 21px;
    color: #CD5555;
}
input:focus {
    outline: none;
}*/
