#list {
    overflow: auto;
    height: 450px;
    width: 40%;
    background: rgb(223, 223, 224);
    border-radius: 5px;
    border-top: thin solid rgb(150, 150, 150);
}
table {
    margin: 0 0 0 40px;
}
.contain > p {
    margin: 0 0 20px 40px;
    color: rgb(90, 90, 90);
    font-size: 23px;
}

.info {
    position: absolute;
    right: 20%;
    top: 10%;
    height: 30px;
    width: 250px;
}

.push:first-of-type {
    position: absolute;
    right: 20%;
    top: 30%;
    width: 250px;
}
.push:last-of-type {
    position: absolute;
    right: 20%;
    top: 40%;
    width: 250px;
}

.grayline {
    width: 40%;
}
.grayline:last-of-type {
    position: absolute;
    right: 20%;
    top: 15%;
    width: 250px;
}

#sum {
    margin: 15px 0;
}


