#list {
    overflow: auto;
    height: 450px;
    width: 40%;
    background: rgb(223, 223, 224);
    border-radius: 5px;
    border-top: thin solid rgb(150, 150, 150);
}
table {
    margin: 0 0 0 40px;
}
.contain > p {
    margin: 0 0 20px 40px;
    color: rgb(90, 90, 90);
    font-size: 23px;
}

.info {
    position: absolute;
    right: 20%;
    top: 10%;
    height: 30px;
    width: 250px;
}
.push {
    position: absolute;
    right: 20%;
    width: 250px;
}
.push:first-of-type {
    top: 25%;
}
.push:nth-of-type(2) {
    top: 35%;
}
.push:last-of-type {
    top: 70%;
}
.push:last-of-type a {
    text-decoration: none;
    color: white;
}

.grayline {
    width: 40%;
}
.grayline:last-of-type {
    top: 48%;
}

#sum {
    margin: 15px 0;
}


