#list {
    overflow: auto;
    height: 450px;
    width: 400px;
    background: rgb(223, 223, 224);
    border-radius: 5px;
    border-top: thin solid rgb(150, 150, 150);
}
table {
    margin: 0 0 0 40px;
}
#main {
    margin: 0 0 20px 40px;
    color: rgb(90, 90, 90);
    font-size: 23px;
}

#search {
    position: absolute;
    left: 570px;
    top: 50px;
    height: 25px;
    width: 250px;
}
#name {
    width: 250px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: thin solid lightgray;
    background-color: #fff;
}
#name:hover {
    background: rgb(248, 255, 255);
}
#button {
    border: none;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    width: 150px;
    position: absolute;
    left: 570px;
    top: 200px;
    background-color: #FBE94F;
    font-weight: 700;
    font-family: "Noto Serif", sans-serif;
    color: #fff;
}
#button:hover {
    background-color: rgb(255, 255, 0);
}

#yellowline {
    width: 300px;
    height: 4px;
    border-radius: 40px;
    background-color: #DFDFE0;
    position: absolute;
    left: 550px;
    top: 270px;
}

#button2 {
    border: none;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    width: 250px;
    position: absolute;
    left: 570px;
    top: 300px;
    background-color: #FBE94F;
    font-weight: 700;
    font-family: "Noto Serif", sans-serif;
    color: #fff;
}
#button2:hover {
    background-color: rgb(255, 255, 0);
}

#sum {
    margin: 15px 0;
}

