body	{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    background: fixed #ddd url(img/fon2.jpg) no-repeat;
    background-size: cover;
    color: #6B6B69;
}

#all {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    padding: 20px 40px 20px 40px;
    width: 950px;
    margin: 0px auto;
}

#contain {
    background: #f7f7f5 url(img/color-logo1.jpg) no-repeat 95% 95%;
    border-radius: 5px;
    padding: 40px 40px 60px;
    margin: auto;
    width: 850px;
}

#caption {
    margin: -30px auto -10px auto;
    width: 850px;
    padding: 0px 40px;
    border-radius: 5px;
    background: #FBED6A url(img/logo.png) no-repeat 5% 55%;
}
#caption_text {
    text-align: center;
    color: black;
    font-size: 26px;
    font-family: helvetica, arial, serif;
    padding: 10px 0px;
}
#link {
    position: absolute;
    margin: 5px 0px 0px -30px ;
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    height: 40px;
}

#table {
    margin: auto;
}

.yellowline {
    width: 600px;
    height: 4px;
    border-radius: 40px;
    background-color: #DFDFE0;
    margin: 20px auto;
}

#subfield {
    text-align: center;
}

#table2 {
    width: 700px;
    margin: auto;
}
#table2 td {
    padding: 10px;
}
.button, .buttonSubmit {
    border: none;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    width: auto;
    background-color: #FBE94F;
    font-weight: 700;
    font-family: "Noto Serif", sans-serif;
    color: #fff;
}
.button:hover {
    background-color: rgb(255, 255, 0);
}
#ton {
    border: none;
    text-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    width: 250px;
    margin: 70px 0px 10px 300px;
    background-color: #FBE94F;
    font-weight: 700;
    font-family: "Noto Serif", sans-serif;
    color: #fff;
}
#ton:hover	{
    background-color: rgb(255, 255, 0);
}