<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../../public/stylesheets/statistic.css">
    <link rel="stylesheet" href="../../../public/stylesheets/shape.css">
    <script src="scripts/codeStatistic.js"></script>
</head>
<body>
    <div class="all">
        <div class="caption">
            <a href="/climbingList" id="link"></a>
            <p class="caption_text">Статистика</p>
        </div>
        <div class="contain">
            <div class="graphics">

            </div>
        </div>
    </div>
</body>
</html>