<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link type="text/css" rel="stylesheet" href="../../../public/stylesheets/statistic.css">
    <link rel="stylesheet" href="../../../public/stylesheets/shape.css">
    <link rel="shortcut icon" href="../../../public/stylesheets/img/favicon.ico" type="image/x-icon">-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link type="text/css" rel="stylesheet" href="stylesheets/statistic.css">
    <link rel="stylesheet" href="stylesheets/shape.css">
    <link rel="shortcut icon" href="stylesheets/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="all">
        <div class="caption">
            <a href="/climbingList" id="link"></a>
            <p class="caption_text">Статистика</p>
        </div>
        <div class="contain">
            <div class="nav" id="buttons">
                <ul>
                    <li><a href="#" class="click" id="regMonth">Новые посетители</a></li>
                    <li><a href="#" class="click" id="totalPeople">Всего посетителей</a></li>
                    <li><a href="#" class="click" id="knowFrom">Откуда узнали</a></li>
                    <li><a href="#" class="click" id="genderAge">Возраст посетителей</a></li>
                    <li><a href="#" class="click" id="popSubscr">Популярность абонементов</a></li>
                    <li><a href="#" class="click" id="attendance">Посещаемость</a></li>
                </ul>
            </div>
            <div class="charts" id="chart_div_reg_month"></div>
            <div class="charts" id="chart_div_total_people" style="display: none;"></div>
            <div class="charts" id="chart_div_pop_subscr" style="display: none;"></div>
            <div class="charts" id="chart_div_gender_age" style="display: none;"></div>
            <div class="charts" id="chart_div_know_from" style="display: none;"></div>
            <div class="charts" id="chart_div_attendance" style="display: none;"></div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <!--<script src="../../../public/scripts/codeStatistic.js"></script>-->
    <script src="scripts/codeStatistic.js"></script>
 </body>
 </html>