<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--<link type="text/css" rel="stylesheet" href="../../../public/stylesheets/visit_style.css">
    <link rel="stylesheet" href="../../../public/stylesheets/shape.css">
    <link rel="shortcut icon" href="../../../public/stylesheets/img/favicon.ico" type="image/x-icon">-->
    <link type="text/css" rel="stylesheet" href="stylesheets/visit_style.css">
    <link rel="stylesheet" href="stylesheets/shape.css">
    <link rel="shortcut icon" href="stylesheets/img/favicon.ico" type="image/x-icon">
</head>
<body>
<!--НОВОЕ ОКНО-->
<div id="new_field" class="hidden"></div>
<div id="new_field2" class="hidden">
    <button id="exit"><img src="stylesheets/img/exit.png" alt="X" width="25px" height="25px"></button>
    <table id="purchAbon">
        <caption>Покупка абонемента</caption>
        <tr>
            <td><label for="abonSubscrNW">Абонемент</label></td>
            <td><select name="subscription" id="abonSubscrNW" class="info ser">
                <option value="22">4 посещения в любое время, на месяц</option>
                <option value="21">Абонемент безлимитный 'дневной'</option>
                <option value="23">Абонемент безлимитный на месяц</option>
                <option value="24">Групповые занятия с тренером для взрослых 4 раза в месяц</option>
                <option value="25">Групповые занятия с тренером для взрослых 8 раза в месяц</option>
                <option value="26">Абонемент 'Хан-Тенгри'</option>
            </select></td>
        </tr>
        <tr>
            <td><label for="validity">Действительный с</label></td>
            <td><input type="date" id="validity" class="info ser" name="validity"/></td>
        </tr>
        <tr>
            <td colspan="2"><p id="errorMessage"></p></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="purchase" class="push">Купить</button>
            </td>
        </tr>
    </table>
</div>
<!--ЗАКОНЧЕНО-->
<div class="all">
    <div class="caption">
        <a href="/climbingList" id="link"></a>
        <p class="caption_text">Аренда</p>
    </div>
    <div class="contain">
        <div class="reg_form">
            <div class="subcontain">
                ${client.firstName}
                ${client.lastName}
                <span class="hidden" id="clientId">${client.clientId?c}</span>
            </div>
            <div>
                <button id="buyAbon" class="push">Купить абонемент</button>
                <button id="pro" class="push" type="button"
                        onclick="window.location='/editUser?clientId=${client.clientId?c}'">Профиль
                </button>
            </div>
        </div>
        <div class="grayline"></div>
        <div class="subcontain">
            <form id="subscriptionId">
                <#list subscriptions as subscription>
                    <input type="radio" name="buztype" class="buztype" id="${subscription.subscriptionId}" value="${subscription.subscriptionId}">
                    <label for="${subscription.subscriptionId}" class="abonLabel">
                        ${subscription.fancyName} до ${subscription.lastDate}
                    </label>
                </#list>
            </form>
        </div>
        <div class="grayline"></div>
        <div class="tableflex">
            <div class="column">
                <label for="service">Услуга</label>
                <select name="service" class="ser info" id="service">
                    <option value="11">Разовое посещение до 16:00 понедельник-пятница</option>
                    <option value="13">Разовое посещение 16:00-23:00 и выходные</option>
                    <option value="14">Старт-пакет</option>
                    <option value="15">Индивидуальная тренировка</option>
                    <option value="18">Семейное разовое посещение</option>
                    <option value="19">Семейное разовое посещение до 16:00 понедельник-пятница</option>
                    <option value="17">Семейный старт-пакет</option>
                    <option value="16">Групповое занятие с тренером для взрослых</option>
                </select>
            </div>
            <div class="column">
                <label for="harness">Обвязка</label>
                <select class="info" id="harness">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                </select>
            </div>
            <div class="column">
                <label for="griGri">gri-gri</label>
                <select class="info" id="griGri">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="column">
                <label for="magnesia">Магнезия</label>
                <select class="info" id="magnesia">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="column">
                <label for="carabine">Карабин</label>
                <select class="info" id="carabine">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="column">
                <label for="climbingShoes">Скальные туфли</label>
                <select class="info" id="climbingShoes">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="column">
                <label for="key">Ключ</label>
                <select class="info" id="key">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                </select>
            </div>
        </div>
        <button id="ton" class="push" type="submit">Пришел</button>
    </div>
</div>
<!--<script src="../../../public/scripts/codeVisit.js"></script>-->
<script src="scripts/codeVisit.js"></script>
</body>
</html>
